*.class
**/.classpath
*.classpath
**/node_modules
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/
.vagrant
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
elkstack/elasticsearch-2.3.3/LICENSE.txt
elkstack/elasticsearch-2.3.3/NOTICE.txt
elkstack/elasticsearch-2.3.3/README.textile
elkstack/elasticsearch-2.3.3/bin/elasticsearch
elkstack/elasticsearch-2.3.3/bin/elasticsearch-service-mgr.exe
elkstack/elasticsearch-2.3.3/bin/elasticsearch-service-x64.exe
elkstack/elasticsearch-2.3.3/bin/elasticsearch-service-x86.exe
elkstack/elasticsearch-2.3.3/bin/elasticsearch.bat
elkstack/elasticsearch-2.3.3/bin/elasticsearch.in.bat
elkstack/elasticsearch-2.3.3/bin/elasticsearch.in.sh
elkstack/elasticsearch-2.3.3/bin/plugin
elkstack/elasticsearch-2.3.3/bin/plugin.bat
elkstack/elasticsearch-2.3.3/bin/service.bat
elkstack/elasticsearch-2.3.3/config/elasticsearch.yml
elkstack/elasticsearch-2.3.3/config/logging.yml
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/node.lock
hadoop-2.7.1.tar.gz
hadoop_rsa.pub
ansible/site.retry
ansible/.ssh/id_rsa
ansible/roles/elasticsearch/files/elasticsearch-2.3.3.tar.gz
ansible/roles/hadoop/files/id_rsa
ansible/roles/hadoop/files/id_rsa.pub
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/_state/global-1.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/_state/state-0.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_0.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_0.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_0.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_1.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_1.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_1.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_2.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_2.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_2.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_3.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_3.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/_3.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/segments_5
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/index/write.lock
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/translog/translog-3.tlog
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/0/translog/translog.ckp
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/_state/state-0.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_0.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_0.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_0.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_1.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_1.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_1.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_2.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_2.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_2.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_3.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_3.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/_3.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/segments_5
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/index/write.lock
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/translog/translog-3.tlog
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/1/translog/translog.ckp
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/_state/state-0.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_0.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_0.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_0.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_1.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_1.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_1.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_2.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_2.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_2.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_3.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_3.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_3.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_4.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_4.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/_4.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/segments_5
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/index/write.lock
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/translog/translog-3.tlog
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/2/translog/translog.ckp
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/_state/state-0.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_0.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_0.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_0.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_1.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_1.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_1.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_2.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_2.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_2.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_3.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_3.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_3.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_4.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_4.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/_4.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/segments_5
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/index/write.lock
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/translog/translog-3.tlog
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/3/translog/translog.ckp
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/_state/state-0.st
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_0.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_0.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_0.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_1.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_1.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_1.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_2.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_2.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_2.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_3.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_3.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_3.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_4.cfe
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_4.cfs
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/_4.si
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/segments_5
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/index/write.lock
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/translog/translog-3.tlog
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/4/translog/translog.ckp
elkstack/elasticsearch-2.3.3/data/elasticsearch/nodes/0/indices/logstash-2016.06.16/_state/state-1.st
elkstack/elasticsearch-2.3.3/logs/elasticsearch.log
elkstack/elasticsearch-2.3.3/logs/elasticsearch.log.2016-06-15
elkstack/elasticsearch-2.3.3/logs/elasticsearch_deprecation.log
elkstack/elasticsearch-2.3.3/logs/elasticsearch_index_indexing_slowlog.log
elkstack/elasticsearch-2.3.3/logs/elasticsearch_index_search_slowlog.log
elkstack/elasticsearch-2.3.3/modules/lang-expression/plugin-descriptor.properties
elkstack/elasticsearch-2.3.3/modules/lang-expression/plugin-security.policy
elkstack/elasticsearch-2.3.3/modules/lang-groovy/plugin-descriptor.properties
elkstack/elasticsearch-2.3.3/modules/lang-groovy/plugin-security.policy
elkstack/elasticsearch-2.3.3/modules/reindex/plugin-descriptor.properties
