
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend public
        bind *:80
        use_backend site2 if { path_beg /api }
#        use_backend site2 if { path_beg /health }
#        use_backend site2 if { path_beg /dump }
#        use_backend site2 if { path_beg /trace }


        default_backend site1


backend site1
    balance roundrobin
    option httpclose
    option forwardfor
    server s2 127.0.0.1:8080 maxconn 32

backend site2
    balance roundrobin
    option httpclose
    option forwardfor
    server s1 127.0.0.1:8181 maxconn 32