127.0.0.1       localhost.localdomain localhost {{ api_hostname }} 
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ server1 }}     api1.bzcareer.com
{{ server2 }}     api2.bzcareer.com
{{ server3 }}     api3.bzcareer.com
