# Created by ansible
tickTime={{ tickTime }}
initLimit={{ initLimit }}
syncLimit={{ syncLimit }}
dataDir={{ dataDir }}
clientPort={{ clientPort }}
server.1=localhost:2881:3881
server.2=localhost:2882:3882
server.3=localhost:2883:3883
