Host hadoopmaster
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%r@%h:%p
  ControlPersist 60m
  StrictHostKeyChecking no

Host hadoopdata1
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%r@%h:%p
  ControlPersist 60m
  StrictHostKeyChecking no

Host hadoopdata2
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%r@%h:%p
  ControlPersist 60m
  StrictHostKeyChecking no
